body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.62), rgba(255, 255, 255, 0.62)), url('/GestionEscolar/public/img/fondo_login.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-container p {
  margin-top: 5px;
  font-size: 14px;
  color: #003399;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
}

.login-container .logo {
  max-width: 150px;
  margin-bottom: 5px;
}

.login-container .titulo {
  color: #2959AE;
  font-size: 22px;
  margin: 10px 0 5px 0;
}

.login-container input[type="text"]::placeholder,
.login-container input[type="password"]::placeholder {
  color: #A6A6A6;
}

.login-container button {
  background-color: #2959AE;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
}

.login-container button:hover {
  background-color: #1e4689;
}

.mensaje-error {
  color: red;
  font-size: 14px;
  margin-top: 15px;
}